.badge {
  position: absolute;
  bottom: var(--space-xs);
  left: var(--space-xs);
  z-index: 10;
  background-color: var(--color-primary);
  color: white;
  font-weight: 700;
  transform: rotate(-4deg);
  border: 2px solid white;
}

/* Size: Small */
.sm {
  padding: 0 var(--space-xxs);
  border-radius: var(--radius-sm);
  font-size: var(--text-sm);
}

/* Size: Medium (default) */
.md {
  padding: 0px 6px;
  border-radius: var(--radius-sm);
  font-size: var(--text-md);
  border-width: 3px;
}

/* Size: Large */
.lg {
  padding: var(--space-xxs) var(--space-sm);
  border-radius: var(--radius-md);
  font-size: var(--text-2xl);
  border-width: 3px;
}
