/* Main content */

:root {
  --navbar-width: 260px;
  --container-padding-x: 120px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.layout {
  display: flex;
  flex-direction: column;
}