/* Main content */

:root {
  --navbar-width: 260px;
  --container-padding-x: 120px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.header {
  height: var(--header-height);
  border: 1px solid #000;
  position: sticky;
  top: 0px;
  background: blue;
  z-index: 100;
  transition: transform 0.3s ease;
}

.headerHidden {
  transform: translateY(-100%);
  background-color: red;
}

.main {
  border: 1px solid #000;
  flex-grow: 1;
}


