.root {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px 0;
  padding-bottom: 32px;
  overflow-y: 100%;
}

.section {
  width: 100%;
}

.categoriesTrack {
  display: flex;
  gap: 8px;
  padding: 0 16px;
}

.productsTrack {
  display: flex;
  gap: 12px;
  padding: 0 16px;
}
