.card {
  width: 210px;
  /* height: 360px; */
  height: 100%;
  border-radius: 24px;
  padding: 8px;
  background-color: var(--mantine-color-gray-1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 180px;
  min-height: 180px;
  flex-shrink: 0;
  border-radius: 18px;
  background-color: #ffffff;
  overflow: hidden;
}

.favoriteButton {
  position: absolute;
  top: 8px;
  right: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.15s ease;
}

.favoriteButton:hover {
  transform: scale(1.1);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.image:hover {
  transform: scale(1.05);
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 4px;
  gap: 2px;
}

.buttonContainer {
  margin-top: 10px;
  flex-shrink: 0;
}

.title {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: var(--mantine-color-gray-9);
}

.weight {
  margin: 0;
  font-size: 12px;
  color: var(--mantine-color-gray-6);
  flex-grow: 1;
}

.priceContainer {
  display: flex;
  flex-direction: column;
}

.price {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: var(--mantine-color-gray-9);
}

.priceDiscount {
  color: var(--mantine-primary-color-filled);
}

.originalPrice {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: #9e9e9e;
  text-decoration: line-through;
}

.button {
  width: 100%;
  height: 40px;
  border-radius: 16px;
  background-color: white;
  color: var(--mantine-color-gray-9);
}

.button:hover {
  background-color: white;
  color: var(--mantine-color-gray-9);
}

/* Counter styles */
.counter {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 4px;
  align-items: center;
}

.counterButton {
  width: 30%;
  height: 32px !important;
  min-height: 32px !important;
  max-height: 32px !important;
  border-radius: 6px;
  background-color: #ffffff;
  color: #212121;
}

.counterButton:hover {
  background-color: #e0e0e0;
}

.quantity {
  font-size: 16px;
  font-weight: 600;
  color: #212121;
  min-width: 24px;
  text-align: center;
}
