:root {
  --bottom-navigation-height: 72px;
}
.bottomNavbar {
  height: calc(var(--bottom-navigation-height) + 10px);
}
.root {
  width: 100%;
  height: var(--bottom-navigation-height);
  background-color: #fff;
  border-top: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.item {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 4px;
}

.icon {
  width: 24px;
  height: 24px;
}

.label {
  font-size: 12px;
  font-weight: 400;
  color: #757575;
}
