/* Main content */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layoutContent {
  margin-top: 20px;
}

.navbar,
.aside {
  border-radius: 12px;
  min-height: calc(100vh - var(--header-height));
  position: sticky;
  top: calc(var(--header-height) + 20px);
  flex-shrink: 0;
}

.main {
  flex-grow: 1;
  border-radius: 12px;
}

.fullWidth {
  justify-content: center;
}

.fullWidth .main {
  max-width: 1200px;
  width: 100%;
}
