/* SF Pro Fonts */
@font-face {
  font-family: "SF Pro Display";
  src: local("SF Pro Display Bold"), local("SFProDisplay-Bold");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Text";
  src: local("SF Pro Text Regular"), local("SFProText-Regular");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Text";
  src: local("SF Pro Text Medium"), local("SFProText-Medium");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Text";
  src: local("SF Pro Text Semibold"), local("SFProText-Semibold");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Global styles */

:root {
  --header-height: 72px;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1750px;
  padding: 0 16px;
}

@media (min-width: 576px) {
  :root {
    --header-height: 100px;
  }
}

@media (min-width: 768px) {
  :root {
    --header-height: 100px;
  }

  .container {
    padding: 0 32px;
  }
}

@media (min-width: 1024px) {
  :root {
    --header-height: 72px;
  }
  .container {
    padding: 0 48px;
  }
}


@media (min-width: 1700px) {
  .container {
    padding: 0;
  }
}
