:root {
  /* Layout */
  --container-max-width: 1500px;

  /* Mobile Layout */
  --mobile-bottom-navigation-height: 88px;
}

/* Global styles */

.container {
  width: 100%;
  margin: 0 auto;
  max-width: var(--container-max-width);
  padding: 0 var(--space-md);
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .container {
    padding: 0 var(--space-2xl);
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 0 var(--space-4xl);
  }
}

@media (min-width: 1700px) {
  .container {
    padding: 0;
  }
}
