.catalog {
  border-radius: 16px;
  height: calc(94vh - var(--header-height));
  max-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.title {
  font-size: 20px;
  font-weight: 700;
  color: var(--mantine-color-dark-9);
  margin-bottom: 8px;
  flex-shrink: 0;
}

.items {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  --webkit-scrollbar-width: none;
}

.items::-webkit-scrollbar {
  width: 4px;
}

.items::-webkit-scrollbar-track {
  background: transparent;
}

.items::-webkit-scrollbar-thumb {
  background-color: var(--mantine-color-gray-3);
  border-radius: 4px;
}

.item {
  display: block;
  padding: 8px 0px;
  border-radius: 12px;
  transition: background-color 150ms ease;
}

.item:hover {
  background-color: var(--mantine-color-gray-1);
}

.item[data-active] {
  background-color: var(--mantine-color-gray-1);
}

.item[data-active] .itemName {
  font-weight: 500;
}

.icon {
  font-size: 24px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.iconImg {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.itemName {
  font-size: 16px;
  font-weight: 500;
  color: var(--mantine-color-dark-9);
  line-height: 19px;
}

.chevron {
  color: var(--mantine-color-gray-5);
  transition: transform 200ms ease;
}

.chevron[data-opened] {
  transform: rotate(90deg);
}
