.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  background: #4294ff;
  color: white;
  font-weight: 800;
  transform: rotate(-4deg);
  border: 2px solid white;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  box-shadow: 0 2px 8px rgba(108, 184, 255, 0.404);
}

/* Size: Small */
.sm {
  padding: 0 4px;
  border-radius: 8px;
  font-size: 10px;
}

/* Size: Medium (default) */
.md {
  padding: 0px 6px;
  border-radius: 10px;
  font-size: 14px;
  border-width: 3px;
}

/* Size: Large */
.lg {
  padding: 4px 14px;
  border-radius: 14px;
  font-size: 16px;
  border-width: 3px;
}
