.header {
  height: var(--header-height, 56px);
  position: sticky;
  top: 0;
  background-color: #ffffff;
  box-shadow: var(--shadow-xs);
  z-index: 100;
  transition: transform var(--transition-slow);
  will-change: transform;
}

.headerHidden {
  transform: translateY(-100%);
}

.headerContent {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0px;
}

.locationButton {
  color: var(--mantine-color-gray-9);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;

  .mantine-Button-section[data-position="left"] {
    color: var(--mantine-color-gray-6);
  }

  .mantine-Button-section[data-position="right"] {
    color: var(--mantine-color-gray-9);
  }
}

.menuButton {
  color: var(--mantine-color-gray-9);
}

.drawerContent {
  border-radius: var(--mantine-radius-lg) var(--mantine-radius-lg) 0 0;
}
