.header {
  margin-bottom: 8px;
}

.breadcrumbLink {
  font-size: 14px;
  color: var(--mantine-color-gray-6);
  text-decoration: none;
}

.breadcrumbLink:hover {
  text-decoration: underline;
}

.breadcrumbLink:last-child {
  color: var(--mantine-color-dark-9);
}

.categoryIcon {
  font-size: 32px;
}

.pageTitle {
  font-size: 28px;
  font-weight: 700;
  color: var(--mantine-color-dark-9);
}

.productCount {
  font-size: 14px;
  color: var(--mantine-color-gray-6);
}
